# requirements.txt records the full set of dependencies for development
accelerate
codetiming
datasets
dill
flash-attn
hydra-core==1.4.0dev1
omegaconf==2.4.0.dev3 # compatibility with latex2sympy
liger-kernel
numpy
pandas
peft
pyarrow>=15.0.0
pybind11
pylatexenc
ray[default]
tensordict<0.6
transformers
vllm==0.6.3
wandb
debugpy # for ray debugging